{% extends 'base2.html' %}

{% block title %} Convocatoria{% endblock %}
{% block header %} Convocatoria{% endblock %}
{% block subheader %} Consultar {% endblock %}

{% block content %}
<div class="table-responsive">
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Creación</th>
      <th scope="col">Abertura</th>
      <th scope="col">Cierre</th>
      <th scope="col">Publicación</th>
      <th scope="col">Periodo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for convocatoria in convocatorias %}
    <tr>
      {% for field in convocatoria %}
      <td> {{field}}</td>
      {% endfor %}
      <td> 
          {% if g.user['rol'][0] =='f' or g.user['rol']=='admin' %}
            <a href="{{ url_for('convocatoria_delete', id_convocatoria=convocatoria[0]) }}" class="btn btn-danger"> Eliminar </a> 
            <a href="{{ url_for('convocatoria', id_convocatoria=convocatoria[0]) }}" class="btn btn-primary"> Actualizar </a>
            <a href="{{ url_for('computar_puntajes', id_convocatoria=convocatoria[0]) }}" class="btn btn-primary"> Calcular puntajes </a>
            <a href="{{ url_for('generar_beneficiarios', id_convocatoria=convocatoria[0]) }}" class="btn btn-primary"> Generar Beneficiarios </a>
          {% endif %}
        <a href="{{ url_for('consultar_beneficiarios', id_convocatoria=convocatoria[0]) }}" class="btn btn-primary"> Consultar Resultados </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
