{% extends 'base2.html' %}

{% block title %} Convocatoria{% endblock %}
{% block header %} Convocatoria{% endblock %}
{% block subheader %} Consultar {% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id_convocatoria</th>
      <th scope="col">fecha_creacion</th>
      <th scope="col">fecha_abierta</th>
      <th scope="col">fecha_cerrada</th>
      <th scope="col">fecha_publicacion_resultados</th>
      <th scope="col">periodo</th>
      <th scope="col"> Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for convocatoria in convocatorias %}
    <tr>
      {% for field in convocatoria %}
      <td> {{field}}</td>
      {% endfor %}
      <td> 
        <a href="{{ url_for('convocatoria_delete', id_convocatoria=convocatoria[0]) }}" class="btn btn-danger"> Eliminar </a> 
        <a href="{{ url_for('convocatoria', id_convocatoria=convocatoria[0]) }}" class="btn btn-primary"> Actualizar </a>
        <a href="{{ url_for('puntaje', id_convocatoria=convocatoria[0]) }}" class="btn btn-primary"> Generar Beneficiarios </a>
        <a href="{{ url_for('beneficiarios', id_convocatoria=convocatoria[0]) }}" class="btn btn-primary"> Ver Beneficiarios </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
