{% extends 'base2.html' %}

{% block title %} Convocatoria{% endblock %}
{% block header %} Convocatoria{% endblock %}
{% block subheader %} Crear {% endblock %}

{% block content %}
  <div class="content">
  <form class="text-center" action="{{ url_for('convocatoria') }}" method="POST">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Información General</h5>
        <p class="card-text">
        <div class="form-group">
          <input type="hidden" name="id_convocatoria" value="{{data["id_convocatoria"]}}">
          <label for="sel1">Periodo</label>
          <select name="id_periodo" class="form-control" id="sel1">
            {% for periodo in data['periodo'] %}
            <option value="{{periodo[0]}}">{{ periodo[1] }} </option>
            {% endfor %}
          </select>
          <label for="fecha1">Fecha de Creacion</label>
          <input type="date" placeholder="Fecha de inicio" name="fecha_creacion" value="{{data["fecha_creacion"]}}" class="form-control" readonly>
          <label for="fecha2">Fecha de Abertura</label>
          <input type="date" placeholder="Fecha de inicio" name="fecha_abierta" value="{{data["fecha_abierta"]}}" class="form-control">
          <label for="fecha3">Fecha de Cierre</label>
          <input type="date" placeholder="Fecha de inicio" name="fecha_cerrada" value="{{data["fecha_cerrada"]}}" class="form-control">
          <label for="fecha4">Fecha Publicación</label>
          <input type="date" placeholder="Fecha de fin" name="fecha_publicacion_resultados" value="{{data["fecha_publicacion_resultados"]}}" class="form-control ">
        </div>
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Cupos por Tipo Subsidio</h5>
        <p class="card-text">
        <div class="form-group">
          {% for tsubsidio in data['tipos_subsidio']%}
          {% set id = 'tipo_subsidio{}'.format(tsubsidio[0])%}
          <label for="tipo{{tsubsidio[0]}}">Subsidio {{tsubsidio[1]}}</label>
          <input type="number" placeholder="" name="tipo_subsidio{{tsubsidio[0]}}" value="{{data[id]}}" class="form-control ">
          {% endfor %}
        </div>
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Cupos por Facultad</h5>
        <p class="card-text">
        <div class="form-group">
          {% for facultad in data['facultades'] %}
          {% set id = 'facultad{}'.format(facultad[0])%}
          <label for="facultad{{facultad[0]}}">{{facultad[1]}}</label>
          <input type="number" placeholder="" id="facultad{{facultad[0]}}" value="{{data[id]}}" facultad{{facultad[0]}}" ]}}" name="facultad{{facultad[0]}}" class="form-control ">
          {% endfor %}
        </div>
        </p>
      </div>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="Guardar">
    </div>
  </form>
</div>
{% endblock %}
