<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <meta name="author" content="https://github.com/xdanielsb">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-primary" role="alert"> {{ message }}</div>
      {% endfor %}
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="https://agencia.udistrital.edu.co/sites/agencia/files/imagen-noticias/2019-01/estudiantes.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="https://logopond.com/logos/d40f3fe7edb84c30eaafb46505c58ead.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Ingresa tu email institucional</p>
              <form autocomplete="off" class="text-center" action="{{ url_for('signup') }}" method="POST" style="color: #757575;">
                <div class="form-group">
                  <label for="username" class="sr-only">Email</label>
                  <input type="text" name="email" id="email" class="form-control" placeholder="Email institucional">
                </div>
                <input name="registro" id="registro" class="btn btn-block login-btn mb-4" type="submit" value="Registrarme">
              </form>
              <a href="{{ url_for('login') }}" class="come-back-link"> Volver </a>
              <nav class="login-card-footer-nav">
                <a href="#!">¡Esto es un prototipo!</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
