<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper">
    <div class="page-wrapper" style="min-height: 100vh;">
      <div class="container-fluid text-center">
        <br><br><br><br>
        <h1> Oops! </h1> <br>
        <h4> {{response['code']}} </h4>
        <h3> {{response['error']}} </h3>
      </div>

    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>
