<html>

<head>
  <meta charset="utf-8">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

  <div class="row">
    <div id="admin" class="col s12">
      <div class="card material-table">
        <div class="table-header">
          <h2> Resultados Convocatoria </h2>
        </div>
        <table class="table" border="3">
          <thead>
            <tr>
              <th scope="col">Identificación</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Proyecto Curricular</th>
              <th scope="col">Puntaje</th>
              <th scope="col">Tipo de almuerzo asignado</th>
            </tr>
          </thead>
          <tbody>
            {% if res %}
            {% for r in res  %}
            <tr>
              <td>{{r['identificacion']}}</td>
              <td>{{r['nombre1']}}</td>
              <td>{{r['apellido1']}}</td>
              <td>{{r['proyecto_curricular']}}</td>
              <td>{{r['puntaje']}}</td>
              <td>{{r['ntipo_subsidio']}}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
