<html>

<head>
</head>

<body>

  <div class="row">
    <div id="admin" class="col s12">
      <div class="card material-table">
        <div class="table-header">
          <span class="table-title">Material Datatable</span>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Tipo de almuerzo asignado</th>
            </tr>
          </thead>
          <tbody>
            {% if res %}
            {% for r in res  %}
            <tr>
              <td>{{r['identificacion']}}</td>
              <td>{{r['nombre1']}}</td>
              <td>{{r['nombre']}}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
