{% extends 'base2.html' %}
{% block title %} Solicitud{% endblock %}
{% block header %} Solicitud{% endblock %}
{% block subheader %} Crear {% endblock %}


{% block content %}

{% if id_convocatoria %}
<p><b>Convocatoria Activa:</b> {{id_convocatoria[0]}}</p>
<p> <i> Todos los documentos deben estar en formato pdf </i>
</p>
  {% endif %}
<form class="" action="{{ url_for('solicitud') }}" method="POST" enctype="multipart/form-data">
  <input type="hidden" value="{{id_convocatoria[0]}}" name="id_convocatoria">
  <div class="row">
    {% for id_tipo_documento,obligatorio, nombre  in tipos_documento %}
    <div class="col-md-6 mt-4">
      <label for="{{id_tipo_documento}}"> {{nombre}}{% if obligatorio==1 %} (requerido) {% endif %} </label>
      <input type="file" name="{{id_tipo_documento}}" id="{{id_tipo_documento}}" placeholder="Seleccionar Archivo">
    </div>
    {% endfor %}
  </div>
  <div class="text-center mt-4">
    <input type="submit" class="btn btn-primary" value="Guardar">
  </div>
</form>
{% endblock %}
