{% extends 'base2.html' %}

{% block title %} Mis tickets{% endblock %}
{% block header %} ticket{% endblock %}
{% block subheader %} utilizar {% endblock %}

{% block content %}
<div class="content">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Mi ticket</div>
    <div class="card-body">
      <h5 class="card-title">Click para utilizarme</h5>
      <p class="card-text"><img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Qrcode_wikipedia_fr_v2clean.png" width="100px" height="100px" /></p>
    </div>
  </div>
</div>
{% endblock %}
